.areaFilme{
	overflow-y: hidden;
}
.areaBanner {
	position: relative;
	z-index: -1;

	.bannerFilme {
		position: relative;
		z-index: -1;
		height: auto;

		img {
			width: 1920px;
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}


		&::before {
			content: '';
			position: absolute;
			background-image: url('/img/gradient-rodape.png');
			background-position: bottom;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			bottom: 0px;
		}
	}

	.areaTituloBanner {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		max-width: 590px;

		img {
			width: 100%;
			margin: 0 auto;
			display: block;
			padding: 0 25px;

			@include media(lg) {
				margin: initial;
			}
		}

		.emExibicao {
			padding: 5px 25px 10px;
			font-size: 1.6rem;
			color: $primary-lingh-color;
			font-weight: 400;
			text-align: center;

			@include media(lg) {
				font-size: 2.2rem;
			}

			strong {
				font-weight: 700;
			}
		}
	}
}

.areaBtn {
	@include flex-center();
	padding: 31px;
	gap: 20px;
	flex-direction: column;

	@include media(sm) {
		flex-direction: row;
	}

	button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.2rem !important;

		@include media(sm) {
			gap: 20px;
			font-size: 1.4rem !important;
		}

		@include media(md) {
			font-size: 1.6rem !important;
		}

		@include media(lg) {
			font-size: 1.8rem !important;
		}

		@include btn-outline();

		img {
			width: 70px;
			height: 35px;
			margin-top: 5px;
			object-fit: contain;

		}
	}
}

.areaBtnCompra {
	@include flex-center();
	padding: 31px;
	gap: 20px;

	button {
		@include btn-outline();
	}

}

.areaPoster {
	color: $primary-lingh-color;
	padding: 35px 0;

	@include media(lg) {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		padding: 90px 0;
	}

	h2 {
		font-size: 3.1rem;
		margin: 25px 0;
		font-weight: 400;
	}

	p,
	li,
	strong {
		font-size: 1.6rem;
		line-height: 2.6rem;
	}

	.areaFlexPoster {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include media(md) {
			flex-direction: row;
		}

		img {
			width: 100%;
			max-width: 320px;
			object-position: top;
			object-fit: contain;
		}

		p {
			max-width: 450px;
		}

	}

	.areaFlexInformacoes {
		@include media(md) {
			display: flex;
			gap: 40px;
		}

		.areaClassificaçãoIndicativa {
			display: flex;
			align-items: center;
			gap: 20px;

			span {
				padding: 10px;
				font-size: 1.8rem;
				border-radius: 5px;
				font-weight: 700;
			}

			p {
				font-weight: 400;
				max-width: 200px;
			}

		}

		.areainformacaoFilme {
			margin-top: 30px;

			li {
				strong {
					margin-right: 5px;
				}
			}
		}
	}

}

.AreaLinksSociais {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
	gap: 50px;

	@include media(lg) {
		position: absolute;
		bottom: 0;
		right: 0;
		flex-direction: row;
		gap: 20px;
		margin: 0
	}

	.instagram {
		@include btn-outline;

		@include media(lg) {
			display: flex;
			gap: 40px;
		}

		svg {
			font-size: 3rem;
		}
	}

	.areaAssitirTrailer {
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: $primary-lingh-color;
		width: 270px;
		padding: 15px 25px;
		border-radius: 15px;
		margin-bottom: 10px;

		svg {
			color: #E52D27;
			font-size: 3rem;
		}

		span {
			font-size: 1.6rem;
			color: $primary-dark-color;
			font-weight: 700;
		}
	}
}