.bg_header {
	background-image: url('/img/banner-menu.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	
}