.slideVideo {
	width: 100% !important;
	height: 100% !important;

	iframe {
		position: relative !important;
		z-index: -1 !important;

	}
}

.slideTitle {
	font-size: 3.1rem;
	margin: 25px 0;
	font-weight: 400;
	color: $primary-lingh-color;
}