.locationModal {
  h2 {
    font-size: 2.4rem;
    color: $primary-lingh-color;
    margin-bottom: 20px;
  }

  .modalButton {
    display: flex;
    gap: 20px;

    button {
      border: 2px solid $primary-lingh-color;
      background-color: transparent;
      color: $primary-lingh-color;
      font-size: 1.8rem;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
      font-weight: 600;

      &:hover {
        background-color: $primary-lingh-color;
        color: $primary-dark-color;
      }
    }
  }
}