.flexDeskTop{
  @include media(xl){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.flexMobile{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 20px;

  @include media(xl){
    padding: 0;
  }
}