.flexDeskTop{
  @include media('lg'){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }
}

.flexMobile{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 20px;
}